{erl_opts, [debug_info]}.
{plugins, [rebar3_hex, rebar3_lint]}.

{erlfmt, [
    write,
    {files, "{src,include,test}/*.{hrl,erl}"}
]}.

{deps, []}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        underspecs
    ]}
]}.

{xref_checks, [
    exports_not_used,
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]},
    {fmt, [
        {plugins, [erlfmt]}
    ]}
]}.
